body {
	font-family: sans-serif;
}
#map {
	width: 50%;
	margin: 0 auto;
	position: relative;
}



.map-tooltip {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
}
.map-tooltip_absolute {
	position: absolute;
}
.map-tooltip__point {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(46,48,146,.3);
	position: relative;
}
.map-tooltip__point:before {
	content: '';
	width: 8px;
	height: 8px;
	background: #2E3092;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.map-tooltip.hover .map-tooltip__point{
	background: rgba(255,255,255,.3);
}
.map-tooltip.hover .map-tooltip__point:before {
	background: #fff;
}
.map-tooltip.hover .map-tooltip__label {
	color: #fff;
	text-shadow: 2px 2px 2px #2E3092;
}
.map-tooltip__label {
	color: #2E3092;
	position: absolute;
	top: -30px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
	cursor: default;
	font-size: 16px;
	font-weight: 600;
}
